@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
	--primary-color: #5667b8;
	--dark-color: #333333;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--blue-color: #4c6db4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin-bottom: -50px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #efefef;
	color: #333;
}

.content {
	height: 50px;
}

.push {
	padding-bottom: 50px;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	color: #666;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

/* Utilities */
.container {
	width: 95% !important;
	/* max-width: 1100px !important; */
	/* margin: auto !important; */
	margin: 0 5rem 0 3rem !important;
	overflow: hidden !important;
	padding: 0 2rem !important;
}

/* Text Styles*/
.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: var(--primary-color);
}

.text-dark {
	color: var(--dark-color);
}

.text-success {
	color: var(--success-color);
}

.text-danger {
	color: var(--danger-color);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

/* Center All */
.all-center {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Login */

.loginWrapper {
	margin: 3rem 0 3rem 0 !important;
	border-radius: 4px;
	border: #ccc 1px dotted;
	margin: 0.7rem 0;
	background-color: white;
}

.loginWrapper h3 {
	color: var(--blue-color) !important;
	margin: 0 0 1rem 0 !important;
	padding: none !important;
}

/* Cards */
.cardWrapper {
	z-index: -10;
	position: static;
}

.card-post {
	width: 100%;
	border-radius: 8px;
	border: #ccc 1px dotted;
	margin: 0.7rem 0;
	background-color: white;
}

.card-post .card-container {
	padding: 1rem;
	height: 40vh;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-post h3 {
	color: var(--primary-color);
	margin-top: 0px !important;
	margin-bottom: -200px !important;
	padding: 1rem 2rem 1rem 2rem;
}

.cardImage {
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	width: 100vw;
	padding-top: 30px;
	padding-right: 6rem;
}

.outterCardImage {
	/* visibility: hidden; */
	object-fit: cover;
	width: 100%;
	height: 10vw;
	margin-bottom: 0px;
}

.card-container {
	width: 100%;
	height: 100%;
	/* margin: auto; */
	overflow: hidden;
	padding: 1rem 1rem 0rem 1rem !important;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0rem;
}

.card-container .content-text {
	background-color: white;
	height: 9.5rem;
	padding: 1rem 1rem 0rem 1rem;
	margin-bottom: 0rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* List */
.list {
	margin: 0.5rem 0;
}

.list li {
	padding-bottom: 0.3rem;
}

/* Padding */
.p {
	padding: 0.5rem;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.py {
	padding: 0.5rem 0;
}
.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

/* Margin */
.m {
	margin: 0.5rem;
}
.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 2rem;
}
.m-3 {
	margin: 3rem;
}
.my {
	margin: 0.5rem 0;
}
.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}

/* Grid */
.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

.btn-form {
	display: inline-block;
	background: var(--light-color);
	color: #333;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-link {
	background: none;
	padding: 0;
	margin: 0;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-sm {
	font-size: 0.8rem;
	padding: 0.3rem 1rem;
	margin-right: 0.2rem;
}

.badge {
	display: inline-block;
	font-size: 0.8rem;
	padding: 0.2rem 0.7rem;
	text-align: center;
	margin: 0.3rem;
	background: var(--light-color);
	color: #333;
	border-radius: 5px;
}

.alert {
	padding: 0.7rem;
	margin: 1rem 0;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
	z-index: 1;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-blue,
.bg-blue,
.badge-blue,
.alert-blue {
	background: var(--blue-color) !important;
	color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.btn:hover {
	opacity: 0.8;
}

.bg-light,
.badge-light {
	border: #ccc solid 1px;
}

.round-img {
	border-radius: 50%;
}

/* Forms */
/* label focus color */

input {
	margin: 0.75rem 0 !important;
}

.form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem !important;
	font-size: 1.2rem;
	border: 1px solid #ccc;
}

input[type='submit'],
button {
	font: inherit;
}

table th,
table td {
	padding: 1rem;
	text-align: left;
}

table th {
	background: var(--light-color);
}

/* Display */
.display {
	background-image: linear-gradient(
			0deg,
			rgba(255, 0, 150, 0.6),
			rgba(255, 0, 150, 0.3)
		),
		url('./bg_img.jpg');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 20vh;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.display div {
	width: 80%;
	height: 80%;
	border: 1px;
	border-radius: 10px;
	padding: 2rem;
	text-align: center;
	/* background-color: var(--danger-color); */
}

.display h1 {
	color: var(--light-color);
	font-weight: bold;
	font-size: 2rem;
}

/* Navbar */
.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	z-index: 9999;
	padding: 0.7rem 2rem 0.5rem;
	width: 100%;
	opacity: 0.95;
	background: rgb(76, 88, 180);
	background: linear-gradient(
		25deg,
		rgba(76, 88, 180, 1) 0%,
		rgba(76, 109, 180, 1) 34%,
		rgba(76, 135, 180, 1) 100%
	);
	box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.7);
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin: 0 0.5rem;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: var(--light-color);
}

/* Slides */
.slideWrapper {
	z-index: -10;
	/* position: absolute;
	top: 0; */
}

/* Sub-Menu */
.sub-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem 0.5rem;
	height: 4vh;
}

.sub-menu ul {
	display: flex;
}

.sub-menu ul li {
	margin: 0 0.5rem;
}

.sub-menu a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

/* Footer */

.footerWrapper {
	padding: 0 2rem 0 5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
	.container {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.imgWrapper {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	/* Navbar */
	.navbar {
		display: block;
		text-align: center;
	}

	.navbar ul {
		text-align: center;
		justify-content: center;
	}

	.footerWrapper {
		padding: 0 1rem 0rem 1rem;
	}

	.card-post {
		padding-top: 0px;
		margin-top: 0px;
	}

	.card-post h3 {
		color: var(--primary-color);
		padding-left: 1rem;
		margin-bottom: -50px !important;
		filter: invert(1);
		mix-blend-mode: difference;
	}

	.cardImage {
		visibility: hidden;
		background-image: none;
		background-repeat: no-repeat;
		background-size: none;
		padding-top: none;
		padding-right: none;
	}

	.card-post .card-container {
		background-color: white;
		padding: 1rem;
		height: 40vh;
	}

	.card-container {
		width: 100%;
		height: 100%;
		/* margin: auto; */
		overflow: hidden;
		padding: 0 2rem 2rem 2rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 1rem;
	}

	.outterCardImage {
		visibility: visible;
		object-fit: cover;
		width: 100%;
		height: 10vw;
		z-index: 0;
		margin-bottom: 0px;
	}
}

/* Animation (Add After) */
.item-enter {
	opacity: 0.01;
}

.item-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.item-exit {
	opacity: 1;
}

.item-exit-active {
	opacity: 0;
	transition: opacity 1000ms ease-in;
}
